
.text-white {
  color: white;
  text-decoration: none;
}

*{
  margin:0;
  padding: 0;
  
}

body{
  background: url(https://images.unsplash.com/photo-1686204045009-69880530ca66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2832&q=80)
  center / cover no-repeat fixed;
}

.log1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.logform{
  background-color: rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(8px);
  padding: 16px 16px 26px 16px;
  box-shadow: 0px 8px 32px 0 rgba(32, 31, 31, 0.33);
  width: 40vw;
  height: max-content;
  border-radius: 16px;
}
.reg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.regform
{
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 16px; 
  box-shadow: 0px 8px 32px 0 rgba(32, 31, 31, 0.33);
  backdrop-filter: blur(8px);
  height: max-content;
  width: 40vw;
  padding: 16px 16px 26px 16px;
}


#demo-simple-select{
  min-width: 150px;
  max-width: 200px;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .25);

  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25); 

  backdrop-filter: blur(15px);
}

.nav h2{
  margin: 15px 0 15px 15px ;
}

.home_history_logout{
  margin-top: 20px;
  display: flex;
}

.home_history_logout div{
  margin-right: 20px;
}

.home-button, .history-button{
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.logout-button{
  text-decoration: none;
  color: black;
  font-size: 22px;
  cursor: pointer;
}

.login_register{
  margin-top: 5px;
}

.login-button{
  margin-right: 7px;

}

.page-header{
  margin: 80px 0 30px 30px;
}

.table-chart-icon{
  margin: 0 7px 5px 0;
}

.add-claim-button{
  margin: 30px 0 0 40px;
  padding: 10px;
}

.add-circle-icon{
  margin: 0 5px 3px 0;
}

.claim-form{
  margin-top: 40px;
}

.cards{
  border: 1px solid rgba(255, 255, 255, .25);
  //border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}


.modal-details{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.modal-details p{
  color: #767676;
}

.modal-details h4{
  color: black;
}


.modal-details-1 h5{
  margin-top: 30px;
  margin-bottom: 20px;
}

.pagination{
  display: table;
  margin: 8px auto;
  background: #c0dbf1;
  border-radius: 10px;
  padding: 5px;
}



.modal-details-1{
  display: flex;
}


.modal-proof{
    margin-left: 100px;
}

.rejection-reason{
  margin-top: 30px 
}



.MuiTable-root{
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03); 
  backdrop-filter: blur( 50px );
}


.MuiTableHead-root{
  //border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

